@myhub_mystock:registry=https://pkgs.dev.azure.com/sadaga/MyStock/_packaging/myhub_mystock/npm/registry/always-auth=true
@types:registry=https://registry.npmjs.org/
@employee-experience:registry=https://microsoftit.pkgs.visualstudio.com/_packaging/EmployeeExperience%40Local/npm/registry/always-auth=true
